body {
  font-family: 'Exo 2', sans-serif; /*Устанавливает семейство шрифта */
  background: #F2F2F2; /* Цвет фона */
  color: #000000; /* Цвет текста */
  opacity: 0.9; /* Значение прозрачности */
  filter: alpha(Opacity=90); /* Прозрачность в IE */
  position: fixed; /* Фиксированное положение */
  left: 10px; /* Расстояние от правого края окна браузера */
  top: 5%; /* Расстояние сверху */
  width: 90%; /* Ширина слоя */
}
