body {
  font-family: 'Exo 2', sans-serif; /*Устанавливает семейство шрифта */
  background: #F2F2F2; /* Цвет фона */
  color: #000000; /* Цвет текста */
}
#table {
  overflow: hidden; /*Фиксация положения таблицы */
  cellpadding: 5; /*Определяет расстояние между границей ячейки и ее содержимым */
  cellspacing: 5; /*Задает расстояние между внешними границами ячеек*/
  width: 90%; /*Размер таблицы */
  min-height: 90%; /*Задает минимальную высоту элемента */
  min-width: 90%; /*Задает минимальную длину элемента */
  align: center; /*Положение по центру страницы */
  overflow: auto; /*При превышении контентом высоты видимой области появится полоса прокрутки */
}
