body {
  font-family: 'Exo 2', sans-serif; /*Устанавливает семейство шрифта */
  background: #F2F2F2; /* Цвет фона */
  color: #000000; /* Цвет текста */
}
.table {
  cellpadding: 5; /*Определяет расстояние между границей ячейки и ее содержимым */
  cellspacing: 5; /*Задает расстояние между внешними границами ячеек*/
  width: 90%; /*Размер таблицы */
  overflow-x: hidden
}
