.historyback { 
              font-family: Arial; /* Гарнитура шрифта */ 
              font-size: 100%; /* Размер текста */ 
              font-weight: lighter; /* Светлое начертание */ 
              }
