#footer {
		position: fixed; /* Фиксированное положение - fixed, absolute - абсолютное для IE */
    		left: 0; bottom: 0; /* Левый нижний угол */
    		padding: 0px; /* Поля вокруг текста */
    		background: #F2F2F2; /* Цвет фона */
    		color: #000000; /* Цвет текста */
    		width: 99.99%; /* Ширина слоя */
		opacity: 0.7; /* Значение прозрачности */
    		filter: alpha(Opacity=70); /* Прозрачность в IE */
		}
